:root {
  --tile-size: 56px;
}

.tile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: var(--tile-size);
  width: var(--tile-size);
  box-shadow: var(--box-shadow-dp1);
  box-sizing: border-box;
  overflow: hidden;
  border-radius: var(--border-radius);

  font-weight: lighter;
  font-size: calc(var(--tile-size) * 2 / 3);
  user-select: none;
  line-height: 1.2em; /* Move the glyph a little lower in the tile. */
  color: rgb(var(--cream));

  /* Background Gradient for Analagous Colors.  See:
   * https://www.99colors.net/name/dark-brown
   */
  background: #652121 linear-gradient(to bottom, #654E21, #652121) no-repeat;
}

.tile--dp2 {
  /*background-color: rgb(var(--surface-dp2)); */
  box-shadow: var(--box-shadow-dp2);
}

.tile--dp2:hover {
  background-color: rgb(var(--surface-dp2-hover));
}

.tile--dp2:drag {
  background-color: rgb(var(--surface-dp2-drag));
  box-shadow: var(--box-shadow-dp8);
}

@media (max-width: 699px), (max-height: 479px) {
  :root {
    --tile-size: 32px;
  }
}
