@import './theme-chooser__select.css';

:root {
  --theme-chooser-height: 4em;
  --theme-chooser-width: 8em;
}

.theme-chooser {
  background-color: rgb(var(--surface-dp1));
  box-shadow: var(--box-shadow-dp1);

  border-radius: var(--border-radius);

  height: var(--theme-chooser-height);
  width: var(--theme-chooser-width);
  padding: 1em;
  padding-left: 1.6em;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
